* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

/*Editamos los estilos de letra en el body*/

body { 
    font-family: 'Roboto', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;    
}

/*Centramos y editamos nuestro header y logo*/

.bloque {
    width: 100%;
    height: 65vh;
    overflow: hidden;
    position: relative;
}

/*Editamos el fondo del header*/

.header {
    background-image: linear-gradient(
        0deg, rgba(17, 16, 16, 0.5), rgba(17, 16, 16, 0.5) /*editamos imagenes, ponemos el 100% de la img y centramos*/
    ),url("../IMG/img1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
}


/*centramos todos los elementos*/

.centrar {
    width: 80%;
    height: auto;
    overflow: hidden;
    margin: auto;
    text-align: center;
    padding: 1.3rem;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center; 
}

#fondo {
    padding: 0.625rem;
}

.logo h2 {
    color: rgb(129,196,196);
    font-weight: 200;
}

.logo h2 i{
    color: rgb(129,196,196);
    margin-right: 0.2rem;
}

.resultados-ocultos {
    display: none;
}

/*---------------------------- busqueda--------------------------- */
.search-box {
    display: flex;
    width: 27%;
    margin: auto;
    height: 1.875rem;
    line-height: 1.875rem;
    position: relative;
}

.search-box input[type="text"] {
    flex: 1;
    padding-right: 2rem;
    border: none;
    outline: none;
    font-size: 0.8rem;
    font-family: 'Roboto', sans-serif; 
    color: #fff; 
  }

.search-box input {
    border: none;
    outline: none;
    background: rgba(82, 191, 206, 0.3);
    height: 100%;
    padding: 0 1.5rem 0 0.5rem;
    font-size: 1.25rem;
    border-radius: 0.5rem;
    color: #fff;
    box-sizing: border-box;
}

.search-box input::placeholder {
    color: #fff;
    opacity: 0.8;
}

.search-box input:focus {
    background: rgba(94, 182, 194, 0.3);
}

.search-box button[type="submit"] {
    position: absolute;
    right: 0.5rem;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    padding: 0.25rem;
    cursor: pointer;
}

  .search-box button[type="submit"] .fa-search {
    color: rgb(129,196,196);
    font-size: 1.4rem;
    animation: lupaBlink 4s infinite;
}

@keyframes lupaBlink {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.6; /* Reducimos la opacidad a 0.6 */
    }
    100% {
      opacity: 1;
    }
}

/* manejando el menu toggle  */

#icon {
    font-size: 1.5rem;
    color: #fff;
    float: right;
    cursor: pointer;
    line-height: 2rem;
    color: rgb(129, 196, 196);
    display: none;
}

ul li {
    margin: 1.25rem;
    display: inline-block;
    padding: 0.313rem 0.313rem;
}

ul li a {
    color: #fff;
    font-weight: bold;
    transition: all 0.3s ease;
    
}

.enlaces ul li:hover {
    transform: scale(1.05);
}

.enlaces ul li a:hover{
    color: rgb(129, 196, 196);
}


/*---------SEGUNDO BLOQUE---------*/

.texto-servicios {
    margin: auto;
}

/*Tamaño del contenido general. Contenedor principal*/

.bloque-cartas {
    width: 100%;
    height: auto;
    overflow: hidden;
    position: relative;
    border: 2px solid transparent;
    background-color: #f0f0f0;
}

/*Editamos la imagen*/

.img-servicios { 
    width: 17rem;
    object-fit: cover;
    border-top-left-radius:0.313rem;
    border-top-right-radius: 0.313rem;
    border-bottom-left-radius: 0.313rem;
    border-bottom-right-radius: 0.313rem;
} 

/*---------hover al titulo de las cajas---------*/

h5:hover {
    color: rgb(115, 117, 124);
    cursor: pointer;
}

/*---------Dividimos el espacio de las cajas ---------*/

.contenedores { 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    overflow-x: auto;
}

/*Editamos los contenidos de cada caja*/

.contenidos {
    width: 12rem;
    height: auto;
    margin: 1rem;
    background: rgb(222, 236, 236);
    border-radius: 5px;
    box-shadow: 0 .3rem .5rem rgba(0, 0, 0, .3);
    overflow: hidden;
    position: relative;
    transition: transform .3s;
}

/*Animación a las cajas*/

.contenidos::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    transition: background-color .3s;
    pointer-events: none;
}

.contenidos:hover::after {
    background-color: rgba(0, 0, 0, 0.2);
}

.contenidos h5{
    text-transform: uppercase;
}

.contenidos p {
    margin-bottom: 30px;
    color: #222424;
    font-weight: bold;
}

/*Editamos los botones*/

.contenidos .btn {
    margin-bottom: 8px;
}

.contenidos .boton { 
    background-color: rgb(165, 184, 184);
    color: #fff;
    border: none;
    border-radius: 5px;
    width: 30%;
    font-weight: 37.5rem;
    cursor: pointer;
    margin-bottom: 30px;
    padding: 5px 10px;
}

.boton:hover {
    background: rgb(94, 95, 95);
}

/* estilos del modal */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
    transition: opacity 0.4s ease; 
    pointer-events: none;
    z-index: 2000;
}

.modal-content {
    position: absolute;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    top: 50%;
    left: 50%;
    width: 30%;
    height: 40vh;
    transform: translate(-50%, -50%);
    background: rgb(222, 236, 236);
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.modal h2 {
    margin-top: 20px;
    color: rgb(63, 62, 62);
}

.modal .content-modal{
    margin-top: 70px;
}

.modal p{
    color: rgb(63, 62, 62);
}

.modal .modal-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 40px;
    width: 50%;
    height: 45px;
}

.modal .modal-buttons .cancel-button{
    background: #c44e4e;
    padding: 8px;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin: 0 12px;
}

.modal .modal-buttons .reserve-button{
    background: rgb(129,196,196);
    padding: 8px;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.modal .modal-buttons .cancel-button:hover{
    background: #c92424;
    padding: 10px;
    color: #fff;
}

.modal .modal-buttons .reserve-button:hover{
    background: rgb(113, 209, 209);
    padding: 10px;
    color: #fff;
 
}

/* estilos para el boton de close el modal */

.close {
    position: absolute;
    right: 10px;
    font-size: 30px;
    cursor: pointer;
    color: rgb(129,196,196);
}

body.modal-open {
    overflow: hidden;
}


/*---------Tercer bloque---------*/

.contenedor-principal {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-items: center;
  overflow-x: auto;
  background-color: #f0f0f0;
}

.swiper-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

.swiper-slide {
    display: flex;
    flex-direction: column;
    font-size: 1.125rem;
    overflow: hidden;
    position: relative;
    background: rgb(222, 236, 236);
    border-radius: 0.625rem;
    transition: transform .3s;
}

.swiper-slide::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    transition: background-color .3s;
    pointer-events: none;
}

.swiper-slide:hover::after {
    background-color: rgba(0, 0, 0, 0.2);
}

.swiper-slide img {
    width: 100%;
    height: 25vh; 
    object-fit: cover;
    border-radius: 0.313rem;
}

.swiper-slide .card-description {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.swiper-slide .card-title,
.swiper-slide .card-text {
  text-align: center;
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.card-text p {
    color: #1b1a1a;
    font-size: 13px;
}
.swiper-slide .card-title{
    font-size: 1.2rem;
    margin-bottom: .3rem;
}

.swiper-slide .card-link{
    width: 50%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 7px 8px 7px 0;
}

.swiper-slide .card-link a{
      text-decoration: none;
      color: #fff;
      font-size: 16px;
      background-color: #89aab1;
      padding: 4px;
      border-radius: .5rem;
      font-weight: 30rem;
}

.swiper-slide .card-link a:hover {
    background: rgb(120, 136, 136);

}
  
  
  
/*---------Quinto bloque---------*/

footer {
    width: 100%;
    height: auto;
    background-color: rgba(110, 143, 143, 0.8); 
    box-shadow: 0 0 10px rgba(117, 109, 109, 0.5); 
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    padding: 20px;
}


footer .footer-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

footer .footer-menu a {
    margin: 1rem 1.5rem;
    opacity: 1rem;
    margin-bottom: 1rem;
}

footer .footer-menu a:hover {
   color: #2c2f30;
}


.copyright {
    color: #fff;
    text-align: center;
}

/*---------responsive---------*/

@media (max-width:1070px){
    .centrar {
        width: 100%;
        padding: .5rem;
    }
    
    .bloque-contacto ul li a {
        padding: 1rem;
    }
}

@media (max-width:667px){
   
}

@media (max-width:300px){
    .img-servicios {
        width: 14rem;
    }   

    .swiper-container {
        width: 70%;
        height: auto;
        display: flex;
        flex-wrap: wrap;
      }
    
}

@media (max-width:940px){ 
    #icon {
        display: block;
    }

    .enlaces ul {
        position: fixed;
        width: 100%;
        height: 30vh;
        background: rgba(0, 0, 0, .3);
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-direction: column;
        border-radius: 1rem;
        top: 3.5rem;
        left: -120%;
        transition:  all .5s;
        z-index: 100;
    }
    .enlaces ul li {
        display: block;
        width: 100%;
        height: 10vh;
        margin: 0;
        padding: 0;
    }

    .enlaces ul li a {
        font-size: 1rem;
    }
    .enlaces ul.show {
        left: 0;
    }


    .search-box input {
        margin-right: 4rem;
    }

    .search-box span {
        right: 4.3rem;
    }

}

@media (max-width:580px) {
    .search-box input {
        display: none;
    }

    .search-box span {
        display: none;
    }


}

@media (max-width:776px) {
    footer .footer-menu a {
        margin: .5rem;
    }
    
}

@media (max-width:647px){

    footer .footer-menu a {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: .2rem;
    }

    footer .footer-menu a:hover {
        color: #2c2f30;
    }
}

/* responsive barra de busuqdea */

@media (max-width:940px){
    .search-box {
        display: flex;
        width: 40%;
        margin: auto;
        height: 1.875rem;
        line-height: 1.875rem;
        position: relative;
    }
    
    .search-box button[type="submit"] {
        position: absolute;
        right: 4rem;
        top: 50%;
        transform: translateY(-50%);
        background-color: transparent;
        border: none;
        padding: 0.25rem;
        cursor: pointer;
    }
   
}

@media (max-width:630px){
    .search-box {
        display: flex;
        width: 40%;
        margin: auto;
        height: 1.875rem;
        line-height: 1.875rem;
        position: relative;
    }
    
    .search-box button[type="submit"] {
        position: absolute;
        right: 3.8rem;
        top: 50%;
        transform: translateY(-50%);
        background-color: transparent;
        border: none;
        padding: 0.25rem;
        cursor: pointer;
    }
   
}

@media (max-width:620px){
    .search-box {
        display: flex;
        width: 40%;
        margin: auto;
        height: 1.875rem;
        line-height: 1.875rem;
        position: relative;
    }
    
    .search-box button[type="submit"] {
        position: absolute;
        right: 3.5rem;
        top: 50%;
        transform: translateY(-50%);
        background-color: transparent;
        border: none;
        padding: 0.25rem;
        cursor: pointer;
    }
   
}

@media (max-width:610px){
    .search-box {
        display: flex;
        width: 40%;
        margin: auto;
        height: 1.875rem;
        line-height: 1.875rem;
        position: relative;
    }
    
    .search-box button[type="submit"] {
        position: absolute;
        right: 3.1rem;
        top: 50%;
        transform: translateY(-50%);
        background-color: transparent;
        border: none;
        padding: 0.25rem;
        cursor: pointer;
    }
   
}

@media (max-width:595px){
    .search-box {
        display: flex;
        width: 40%;
        margin: auto;
        height: 1.875rem;
        line-height: 1.875rem;
        position: relative;
    }
    
    .search-box button[type="submit"] {
        position: absolute;
        right: 2.7rem;
        top: 50%;
        transform: translateY(-50%);
        background-color: transparent;
        border: none;
        padding: 0.25rem;
        cursor: pointer;
    }
   
}

/* Ajuste para centrar verticalmente el contenido del modal en dispositivos pequeños */
@media (max-height: 500px) {
    .modal-content {
      top: 10%;
    }
  }

