* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'PT Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
}

body {
    background-image: url(../img/fondo-login.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

main {
    width: 100%;
    padding: 20px;
    margin: auto;
    margin-top: 100px;
}

/*Caja contenedora*/

.contenedor__todo {
    width: 100%;
    max-width: 800px;
    margin: auto;
    position: relative;
}

/*Caja trasera*/

.caja__trasera {
    width: 100%;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    backdrop-filter: blur(20px);
    background-color: rgb(129,196,196);
    border-radius: 5px;
}

.caja__trasera div {
    margin: 100px 40px 45px;
    color: #fff;
    transition: all 500ms;
}

/*Espacio a los textos y botones*/

.caja__trasera div p, .caja__trasera div button {
    margin: 30px 0;
}

.caja__trasera div h3 {
    font-weight: bold;
    font-size: 22px;
}
/*Editamos los botones*/

.caja__trasera button {
    padding:10px 40px;
    border: 2px solid #fff;
    border-radius: 20px;
    background: transparent;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    outline: none;
    transition: all 300ms ease;
    color: #fff;
    font-weight: bold;
}

.caja__trasera button:hover {
    color: rgb(129,196,196);
    background: #fff;
}

.caja__trasera-register p {
    font-size: 18px;
    padding-left: 10px;
    margin: 0px 0px 5px 5px;
}

.caja__trasera-register h3 {
    padding-left: 10px;
    margin: 0px 0px 5px 5px;
}

.caja__trasera-register #btn__registrarse {
    margin: 0px 0px 7px 14px;

}


/*-----------FORMULARIOS------------*/

.contenedor__login-register {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 380px;
    position: relative;
    top: -185px;
    left: 10px;
    transition: left 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275); /*Animación*/
}

.contenedor__login-register form {
    width: 100%;
    padding: 80px 20px;
    background: #fff;
    position: absolute;
    border-radius: 20px;
}

.contenedor__login-register .conten{
    display: flex;
    flex-direction: column;
}

.contenedor__login-register .conten a{
    margin-top: 15px;
    color: rgb(80, 131, 131);
}

/*Editamos texto*/

.contenedor__login-register form h2 {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
    color: rgb(129,196,196);
}

.contenedor__login-register form input {
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    border: none;
    background: #F2F2F2;
    font-size: 14px;
    outline: none;
}

.contenedor__login-register form button {
    padding: 10px 40px;
    border: none;
    margin-top: 20px;
    font-size: 14px;
    background: rgb(129,196,196);
    color: #fff;
    cursor: pointer;
    outline: none;
    border-radius: 20px;
    transition: all 0.3s ease;
    font-weight: bold;
}

.contenedor__login-register form button:hover {
    background: #d2dae0;
    color: #7a98a7;
    transform: scale(1.05);
}

/*transicion del formulario de registrarse*/

.formulario__login {
    opacity: 1;
    display: block;
}

/* icono para contraseña de registrarse */
.toggle-password {
    position: absolute;
    top: 343px;
    left: 328px;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 1;
    color: #5c5d5e;
}

/* icono de contraseña para login */
.toggle-icon{
    position: absolute;
    top: 224px;
    left: 328px;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 1;
    color: #5c5d5e;
}

#contrasenaInput {
    padding-left: 25px;
}

.formulario__register {
    display: none;
}

/*RESPONSIVE DESING*/

@media screen and (max-width: 850px) {
    main {
        margin-top: 50px;
    }
    .caja__trasera {
        max-width: 350px;
        height: 300px;
        flex-direction: column;
        margin: auto;
    }
    .caja__trasera div {
        margin: 0px;
        position: absolute;
    }

     /*FORMULARIO*/

.contenedor__login-register {
    top: -10px;
    left: -5px;
    margin: auto;
}

.contenedor__login-register form {
    position: relative;
}

}

/* pantallas mucho mas pequeñas */

@media screen and (max-width: 410px){
    .toggle-icon{
        position: absolute;
        top: 224px;
        left: 310px;
        transform: translateY(-50%);
        cursor: pointer;
        z-index: 1;
        color: #5c5d5e;
    }
}

@media screen and (max-width: 393px){
    .toggle-icon{
        position: absolute;
        top: 224px;
        left: 300px;
        transform: translateY(-50%);
        cursor: pointer;
        z-index: 1;
        color: #5c5d5e;
    }
}

@media screen and (max-width: 390px){
    .toggle-icon{
        position: absolute;
        top: 224px;
        left: 300px;
        transform: translateY(-50%);
        cursor: pointer;
        z-index: 1;
        color: #5c5d5e;
    }
}

@media screen and (max-width: 375px){
    .toggle-icon{
        position: absolute;
        top: 224px;
        left: 280px;
        transform: translateY(-50%);
        cursor: pointer;
        z-index: 1;
        color: #5c5d5e;
    }
}

@media screen and (max-width: 360px){
    .toggle-icon{
        position: absolute;
        top: 224px;
        left: 270px;
        transform: translateY(-50%);
        cursor: pointer;
        z-index: 1;
        color: #5c5d5e;
    }
}

@media screen and (max-width: 355px){
    .toggle-icon{
        position: absolute;
        top: 224px;
        left: 260px;
        transform: translateY(-50%);
        cursor: pointer;
        z-index: 1;
        color: #5c5d5e;
    }
}

@media screen and (max-width: 340px){
    .toggle-icon{
        position: absolute;
        top: 224px;
        left: 240px;
        transform: translateY(-50%);
        cursor: pointer;
        z-index: 1;
        color: #5c5d5e;
    }
}

@media screen and (max-width: 320px){
    .toggle-icon{
        position: absolute;
        top: 224px;
        left: 230px;
        transform: translateY(-50%);
        cursor: pointer;
        z-index: 1;
        color: #5c5d5e;
    }
}

@media screen and (max-width: 280px){
    .toggle-icon{
        position: absolute;
        top: 224px;
        left: 190px;
        transform: translateY(-50%);
        cursor: pointer;
        z-index: 1;
        color: #5c5d5e;
    }
}
   